.commentActionsBlockWrapper {
  margin-top: 5px;
  color: var(--gray-text-color);
}

.commentActionsBlockText {
  font: var(--font-m);
  color: var(--gray-text-color);
  cursor: pointer;
}

.commentActionsBlockDeleteStatusSpinner {
  margin-right: 5px;
  color: var(--gray-text-color);
}
