.projectsTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectsTitle {
  font: var(--font-xl)
}

.projectsEmptyText {
  display: block;
  margin-top: 20px;
  font: var(--font-l);
}

.projectsListWrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projectsPaginationWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
