.taskDrawerWrapper {
  display: flex;
  justify-content: space-between;
}

.taskDrawerInfoWrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.taskDrawerSidebarWrapper {
  display: flex;
  flex-direction: column;
}
