.additionalActionsPopoverContentWrapper {
  display: flex;
  flex-direction: column;
}

.additionalActionsPopoverContentButton {
  margin: 5px 0;
}

.additionalActionsPopoverContentIcon {
  font: var(--font-l);
  color: var(--secondary-text-color);
  cursor: pointer;
}
