.taskTodoWrapper {
  padding: 25px;
  min-width: 450px;
  max-height: 71vh;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-bg-color);
  overflow-y: scroll;
}

.taskTodoHeaderWrapper {
  display: flex;
  justify-content: space-between;
}

.taskTodoHeaderTextWrapper {
  display: flex;
  gap: 10px;
  font: var(--font-l);
  color: var(--secondary-bg-color);
}

.taskTodoHeaderIcon {
  color: var(--gray-text-color);
  font: var(--font-l);
}

.taskTodoEmptyBlock {
  margin-top: 20vh;
}
