.taskCommentsIconWrapper {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskCommentsIcon {
  font: var(--font-l);
}

.taskCommentsIconText {
  font: var(--font-m);
}

.taskCommentsTextWrapper {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-bg-color);
  font: var(--font-m);
}
