:root {
  // background
  --primary-bg-color: #f6f8ff;
  --secondary-bg-color: #ff6667;
  --white-bg-color: #ffffff;
  --gray-bg-color: #a3a7ae;
  --navbar-bg-color: #f8f8f8;

  // text
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --secondary-text-color: #ff6667;
  --gray-text-color: #a3a7ae;
  --link-text-color: #3cc0ff;

  // task priorities
  --low-priority-task-color: #08a204;
  --moderate-priority-task-color: #38bfff;
  --extreme-priority-task-color: #ff6667;

  // task statuses
  --completed-task-color: #05a301;
  --in-progress-task-color: #0225ff;
  --not-started-task-color: #f24e1e;

  // box-shadow
  --box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);

  // skeleton
  --skeleton-color: #f3f3f3;
  --animated-skeleton-color: #ecebeb;
}
