:root {
  // background
  --primary-bg-color: #f6f8ff;
  --secondary-bg-color: #ff6667;
  --white-bg-color: #ffffff;
  --gray-bg-color: #a3a7ae;
  --navbar-bg-color: #f8f8f8;

  // text
  --white-text-color: #ffffff;
  --secondary-text-color: #ff6667;
  --gray-text-color: #a3a7ae;
  --link-text-color: #3cc0ff;

  // priority-task
  --low-priority-task-color: #08a204;
  --medium-priority-task-color: #38bfff;
  --high-priority-task-color: #ff6667;
}
