.taskAdditionalActionWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin: 5px;
}

.taskAdditionalActionIcon {
  font: var(--font-m);
  color: var(--secondary-text-color);
}

.taskAdditionalActionText {
  font: var(--font-m);
  color: var(--gray-text-color);
}

.taskAdditionalActionsIcon {
  font: var(--font-l);
  cursor: pointer;
}
