.accountWrapper {
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  height: 78vh;
  overflow-y: scroll;
}

.accountTitle {
  font: var(--font-xl);
}

.accountMainInfoWrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.accountMainInfoTextWrapper {
  display: flex;
  flex-direction: column;
}

.accountName {
  font: var(--font-l);
}

.accountEmail {
  font: var(--font-m);
}

.accountListFieldsWrapper {
  margin-top: 20px;
}

.saveEditButton {
  margin-right: 10px;
}