.userMenuSidebarWrapper {
  background-color: var(--secondary-bg-color);
  min-width: 320px;
  height: 81.8vh;
  border-radius: 0 10px 0 0;
  padding: 20px;
}

.userBlockWrapper {
  position: absolute;
  top: 128px;
  left: 96px;
  text-align: center;
}

.userBlockName,
.userBlockEmail {
  display: block;
  color: var(--white-text-color);
}

.userBlockName {
  margin-top: 10px;
  font: var(--font-m);
}

.userBlockEmail {
  font: var(--font-s);
}

.menuLinksWrapper {
  margin-top: 100px;
}

.menuLinkWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.menuIcon {
  font: var(--font-l);
}

.menuNotActiveLink {
  color: var(--white-text-color);
  font: var(--font-m);
}

.menuActiveLink {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--white-bg-color);
  color: var(--secondary-text-color);
  font: var(--font-m);
}

.menuLinkLogoutWrapper {
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  font: var(--font-m);
  color: var(--white-text-color);
  cursor: pointer;
}

.menuLinkLogoutIcon {
  font: var(--font-l);
  color: var(--white-text-color);
}
