.completedTaskWrapper {
  padding: 25px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-bg-color);
  max-height: 32vh;
  overflow-y: scroll;
}

.completedTaskHeaderWrapper {
  display: flex;
  justify-content: space-between;
}

.completedTaskHeaderTextWrapper {
  display: flex;
  gap: 10px;
  font: var(--font-l);
  color: var(--secondary-bg-color);
}

.completedTaskHeaderIcon {
  color: var(--gray-text-color);
  font: var(--font-l);
}

.completedTaskEmptyBlock {
  margin-top: 20px;
}
