.tasksStatusWrapper {
  margin-bottom: 30px;
  padding: 25px;
  max-height: 30vw;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-bg-color);
}

.tasksStatusHeaderWrapper {
  display: flex;
  justify-content: space-between;
}

.tasksStatusHeaderTextWrapper {
  display: flex;
  gap: 10px;
  font: var(--font-l);
  color: var(--secondary-bg-color);
}

.tasksStatusHeaderIcon {
  color: var(--gray-text-color);
  font: var(--font-l);
}

.tasksStatusCirclesWrapper {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.tasksStatusCirclesTextWrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tasksStatusCirclesText {
  font: var(--font-m);
}