.taskDrawerHeaderWrapper {
  display: flex;
  gap: 40px;
}

.taskDrawerImage {
  width: 350px;
  height: 350px;
  border-radius: 15px;
}

.taskDrawerHeaderTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taskDrawerTitle {
  font: var(--font-xl);
  font-weight: bold;
}

.taskDrawerPriority,
.taskDrawerStatus {
  font: var(--font-m);
}

.taskDrawerCreatedAt,
.taskDrawerDeadline {
  font: var(--font-m);
  color: var(--gray-text-color);
}

.taskDrawerDescriptionWrapper {
  margin-top: 40px;
}

.taskDrawerDescription {
  font: var(--font-l);
}
