.projectColumnWrapper {
  min-width: 250px;
  max-height: 70vh;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--primary-bg-color);
  overflow-x: auto;
}

.projectColumnHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectColumnTitle {
  font: var(--font-m);
}

.projectColumnSpinner {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTaskButtonWrapper {
  margin-top: 20px;
}
