.taskContributorsWrapper {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskContributorAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.taskContributorName {
  font: var(--font-m);
}

.taskContributorDeleteIcon {
  padding: 7px;
  cursor: pointer;

  &:hover {
    padding: 7px;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
  }
}
