.columnTaskWrapper {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white-bg-color);
  box-shadow: var(--box-shadow);
  cursor: pointer;

  &:hover {
    padding: 8px;
    border: 2px var(--secondary-bg-color) solid;
    box-shadow: none;
  }
}

.columnTaskDrawerCover {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.columnTaskTitle {
  display: block;
  margin-bottom: 5px;
}

.columnTaskCommentsIcon {
  margin-right: 5px;
}

.columnTaskDrawerWrapper {
  display: flex;
  justify-content: space-between;
}

.columnTaskDrawerInfoWrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.columnTaskDrawerSidebarWrapper {
  display: flex;
  flex-direction: column;
}
